.label-container {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20px;
  align-content: center;
  /* justify-content: space-between; */
}

.label-container-button {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20px;
  align-content: center;
  /* justify-content: space-between; */
}

.label-name {
  color: rgb(84, 87, 94);
  font-size: smaller;
  width: 60px;
}

.label-number {
  color: rgb(56, 59, 58);
  font-size: medium;
  width: 40px;
  margin-left: 10px;
}

.timer-container {
  display: flex;
  flex-direction: row;
  width: 60px;
  height: 30px;
  align-items: flex-start;
  justify-content: center;
}

.timer-name {
  color: rgb(84, 87, 94);
  font-size: medium;
  width: 30px;
  height: 30px;
}
.timer-second {
  color: #2196f3;
  font-size: medium;
  width: 30px;
  height: 30px;
}

.label-content {
  color: #2196f3;
  font-size: medium;
  width: 72%;
}

.title-container {
  width: 100%;
  height: 20px;
  margin-bottom: 2px;
  margin-top: 2px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.label-space {
  width: 25%;
}

.clear-icon {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.content-icon {
  width: 25px;
  height: 25px;
}

.label-title {
  display: flex;
  color: grey;
  font-size: smaller;
  font-weight: bold;
  margin-top: 1px;
  width: 50%;
  justify-content: center;
}

.tack-icon {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.label-input {
  display: flex;
  width: 60px;
  height: 22px;
  color: #2196f3;
}
