@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.rightPanel {
  max-width: 350px;
  margin-top: 10px;
  margin-left: 5px;
  width: 25vw;
  height: 840px;
  border: 3px solid #775412;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.panel-control {
  width: 100%;
  height: 50px;
  border-bottom: 3px solid rgb(119, 84, 18);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.bottomControl {
  margin-top: 3px;
  max-width: 1050px;
  width: 70vw;
  height: 42px;
  border: 3px solid #775412;
  background-color: transparent;
  display: flex;
  flex-direction: row;
}

.general-control {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.general-control {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.general-control-night {
  width: 100%;
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.property-control {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
